<nav>
    <ul style="list-style:none; padding:0;">
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="chat">Chat</a></li>
        <li><a href="goal">Goals</a></li>
        <li><a href="journal">Journal</a></li>
    </ul>
</nav>